/.vs
/MotionDetectorWebApi/bin
/MotionDetectorWebApi/obj
/MotionFileWatcher/obj
/MotionFileWatcher/bin
/GoogleDriveClient/bin
/GoogleDriveClient/obj
/MotionDetectorWebApi/logs
/MotionConfigHandler/bin
/MotionConfigHandler/obj
